{% extends "::layout/layout.html.twig" %}

{% block body %}

<div class="container">
    <div class="row">
	<div class="span3">
        {% include '::modulesUsed/navigation.html.twig' %}
    </div>

        <div class="span9">
            <ul class="thumbnails">

                {% for danseuse in danseuses %}
                    <li class="span3">
                        <div class="thumbnail">
                            <img src="{{ asset(danseuse.image.AssetPath) }}" alt="{{ danseuse.image.name }}" >
                            <div class="caption">
                                <h4>{{ danseuse.nom }}</h4>
                                <h5>{{ danseuse.prix|tva(danseuse.tva.multiplicate) }} €</h5>

                                <a class="bouton" href="{{ path('presentation',{ id: danseuse.id}) }}">Plus d'infos</a>
                                {% if panier[danseuse.id] is not defined %}
                                    <a class="bouton" href="{{ path ('ajouter', { id : danseuse.id }) }}">Ajouter à ma demande</a>
                                {% endif %}

                            </div>
                        </div>
                {% endfor %}
            </ul>
            
            <div class="pagination">
                {{ knp_pagination_render(danseuses) }}
            </div>
            <!-- <div class="pagination">
                <ul>
                    <li class="disabled"><span>Précédent</span></li>
                    <li class="disabled"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Suivant</a></li>
                </ul>
            </div> -->

        </div>
    </div>
</div>
{% endblock %}
